.address-update-btn {
  background-color: rgb(217, 75, 108);
  text-align: center;
  padding: 5px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.address-update-btn:hover {
  background-color: rgb(255, 83, 123);

  color: rgb(255, 231, 231);
}
.building-or-floor {
  text-align: center;
  background-color: rgb(223, 203, 209);
  color: rgb(67, 81, 100);
  padding: 15px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  transition: 0.2s;
}
.building-or-floor:hover {
  background-color: rgb(34, 31, 32);
  color: rgb(211, 220, 233);
}
