.bg_white {
  background-color: rgba(255, 255, 255, 0.825) !important;
}
.width_50 {
  width: 50% !important;
}
.width_33 {
  width: 33% !important;
}
.item {
  background-color: white !important;
  border-radius: 9px !important;
}
.hide_class {
  display: none;
}

.product-title,
.product-price {
  word-wrap: break-word;
}
.my_text {
  font-size: 12px;
  font-weight: 600;
}
.addToCart:hover {
  background-color: rgb(104, 35, 169) !important;
}
.move-to-cart:hover {
  background-color: rgb(243, 225, 65) !important;
  color: rgb(82, 82, 82) !important;
}
