.mobile_menu {
  margin-left: 40px !important;
}
.my_img {
  height: 50px;
  width: 120px;
  margin-left: 20px;
}
.title {
  cursor: pointer;
}
.navbar-item {
  background-color: var(--light-color) !important;
  color: var(--secondary-color) !important;
}
.navbar-item:hover {
  background-color: var(--dark-color) !important;
  color: var(--light-color) !important;
}
