.p-item {
  background-color: #fff;
  padding: 8px;
  text-align: center;
}
.hide_class {
  display: none;
}
.p-title {
  background-color: rgb(234, 99, 140);
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  color: white;
  transition: 0.3s;
  width: 100%;
  text-align: center;
}
.p-title:hover {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  color: rgb(234, 99, 140);
  cursor: pointer;
}
.my_btn {
  text-align: center;
  background-color: rgb(255, 99, 47) !important;
  width: 100% !important;
  color: rgb(0, 0, 0);
  transition: 0.3s;
  border: 1px solid rgba(255, 0, 0, 0.059);
  cursor: pointer;
  padding: 1px !important;
  font-weight: 600;
  font-size: 15px !important;
  border-radius: 8px;
}
.my_btn:hover {
  background-color: rgb(130, 30, 7) !important;
  color: white;
}
.my_btn2 {
  text-align: center;
  background-color: rgb(47, 64, 255) !important;
  width: 100% !important;
  color: rgb(255, 255, 255);
  transition: 0.3s;
  border: 1px solid rgba(255, 0, 0, 0.059);
  cursor: pointer;
  padding: 1px !important;
  font-weight: 600;
  font-size: 15px !important;
  border-radius: 8px;
}
.my_btn2:hover {
  background-color: rgb(16, 40, 108) !important;
  color: white;
}
