.package-index {
  background-color: rgb(100, 96, 96);
  text-align: center;
  font-size: 15px;
  color: rgb(252, 252, 252);
}
.package-item {
  background-color: rgb(242, 205, 255);
  padding: 6px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(38, 17, 17);
  transition: 0.2s;
}
.package-item:hover {
  background-color: rgb(109, 107, 107);
  color: rgb(213, 212, 212);
}
